<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--
        config-common.properties配置如下
        k1=v1
    -->
    <property file="${user.home}/chat/config-common.properties"/>
    <!--
        注意：springboot要使用2.2.7.RELEASE或者更新版本，否则varTemp2会显示undefined变量
    -->
    <springProperty name="varTemp2" source="k2" defaultValue="默认值1"/>
    <springProperty name="needConsole" source="spring.application.console"/>
    <springProperty name="disableConsole" source="spring.application.console.disable"/>
    <property name="k3" value="测试值3"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{15}.%method\(%file:%line\) : %message [k1=${k1},k2=${varTemp2},k3=${k3}] %n
            </pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logback-file.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logback-file.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{15}.%method\(%file:%line\) : %message%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="package1Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logback-package1.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logback-package1.%d{yyyyMMdd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{15}.%method\(%file:%line\) : %message%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="package2Appender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${user.home}/logback-package2.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>logback-package2.%d{yyyyMMdd}.%i.log</FileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>300MB</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <MaxHistory>10</MaxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <Pattern>
                [%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{15}.%method\(%file:%line\) : %message%n
            </Pattern>
        </encoder>
    </appender>

    <root level="debug">
        <if condition='!property("needConsole").equals("false") &amp;&amp; !property("disableConsole").equals("true")'>
            <then>
                <appender-ref ref="consoleAppender" />
            </then>
        </if>
        <appender-ref ref="fileAppender" />
    </root>

    <logger name="com.future.study.spring.boot.package1" level="debug" additivity="false">
        <appender-ref ref="package1Appender"/>
    </logger>
    <logger name="com.future.study.spring.boot.package2" level="debug" additivity="false">
        <appender-ref ref="package2Appender"/>
    </logger>
    <logger name="com.future.study.spring.boot.package1.TestAdditivity" level="debug" additivity="false">
        <appender-ref ref="package1Appender"/>
    </logger>
</configuration>