<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <springProperty scope="context" name="logstash.url" source="spring.elk.logstash.tcp.url"/>

    <!-- 开发环境启用控制台打印日志 -->
    <springProfile name="dev">
        <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                    </timestamp>
                    <logLevel/>
                    <mdc>
                        <includeMdcKeyName>traceId</includeMdcKeyName>
                        <includeMdcKeyName>spanId</includeMdcKeyName>
                    </mdc>
                    <pattern>
                        <pattern>
                            {
                            "log_type": "business"
                            }
                        </pattern>
                    </pattern>
                    <callerData/>
                    <arguments/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        <logger name="com.future.demo.elk" level="debug" additivity="false">
            <appender-ref ref="console"/>
        </logger>

        <appender name="consoleAccess" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                    </timestamp>
                    <logLevel/>
                    <mdc>
                        <includeMdcKeyName>traceId</includeMdcKeyName>
                        <includeMdcKeyName>spanId</includeMdcKeyName>
                    </mdc>
                    <pattern>
                        <pattern>
                            {
                            "log_type": "access"
                            }
                        </pattern>
                    </pattern>
                    <arguments/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        <logger name="com.future.demo.elk.HttpTraceLoggingFilter" level="debug" additivity="false">
            <appender-ref ref="consoleAccess"/>
        </logger>
    </springProfile>

    <!-- application.properties配置spring.elk.logstash.tcp.url后才启用LogstashAppender -->
    <if condition='property("logstash.url").equals("")'>
        <then>
        </then>
        <else>
            <appender name="logstash" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
                <destination>${logstash.url}</destination>

                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <timestamp>
                            <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                        </timestamp>
                        <logLevel/>
                        <mdc>
                            <includeMdcKeyName>traceId</includeMdcKeyName>
                            <includeMdcKeyName>spanId</includeMdcKeyName>
                        </mdc>
                        <pattern>
                            <pattern>
                                {
                                "log_type": "business"
                                }
                            </pattern>
                        </pattern>
                        <callerData/>
                        <arguments/>
                        <message/>
                        <stackTrace/>
                    </providers>
                </encoder>
            </appender>
            <logger name="com.future.demo.elk" level="debug" additivity="false">
                <appender-ref ref="logstash"/>
            </logger>

            <appender name="logstashAccess" class="net.logstash.logback.appender.LogstashAccessTcpSocketAppender">
                <destination>${logstash.url}</destination>

                <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                    <providers>
                        <timestamp>
                            <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                        </timestamp>
                        <logLevel/>
                        <mdc>
                            <includeMdcKeyName>traceId</includeMdcKeyName>
                            <includeMdcKeyName>spanId</includeMdcKeyName>
                        </mdc>
                        <pattern>
                            <pattern>
                                {
                                "log_type": "access"
                                }
                            </pattern>
                        </pattern>
                        <arguments/>
                        <stackTrace/>
                    </providers>
                </encoder>
            </appender>
            <logger name="com.future.demo.elk.HttpTraceLoggingFilter" level="debug" additivity="false">
                <appender-ref ref="logstashAccess"/>
            </logger>
        </else>
    </if>
</configuration>