<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Html anchor demo</title>
</head>
<link rel="stylesheet" type="text/css" href="index.css">
<script type="text/javascript" src="https://cdn.bootcdn.net/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="index.js"></script>
<body style="margin:0px;">
<div>
    <div id="divFloatingMenu" attrExt1="menu-anchor" attrExt2="menu-anchor-content">
    	<div>
			<ul>
				<li><a href="#anchor1" attrExt1="anchor1">#1</a></li>
				<li><a href="#anchor2" attrExt1="anchor2">#2</a></li>
				<li><a href="#anchor3" attrExt1="anchor3">#3</a></li>
				<li><a href="#anchor4" attrExt1="anchor4">#4</a></li>
				<li><a href="#anchor5" attrExt1="anchor5">#5</a></li>
				<li><a href="#anchor6" attrExt1="anchor6">#6</a></li>
				<li><a href="#anchor7" attrExt1="anchor7">#7</a></li>
			</ul>
		</div>
    </div>
    <div class="anchor" attrExt1="menu-anchor-content">
    	<div id="anchor1" attrExt1="anchor1" style="width:100%;background-color:yellow;">anchor1</div>
    	<div id="anchor2" attrExt1="anchor2" style="width:100%;background-color:gray;">anchor2</div>
    	<div id="anchor3" attrExt1="anchor3" style="width:100%;background-color:yellow;">anchor3</div>
    	<div id="anchor4" attrExt1="anchor4" style="width:100%;background-color:gray;">anchor4</div>
    	<div id="anchor5" attrExt1="anchor5" style="width:100%;background-color:yellow;">anchor5</div>
    	<div id="anchor6" attrExt1="anchor6" style="width:100%;background-color:gray;">anchor6</div>
    	<div id="anchor7" attrExt1="anchor7" style="width:100%;background-color:yellow;">anchor7</div>
    </div>
</div>
</body>
</html>